<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${photo.id != null}">
<head
    th:insert="fragments/resources :: headResources(${isEdit ? 'Modifica Foto' : 'Crea Foto'})"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('photos')"></nav>
<div class="container">
  <h1 th:text="${isEdit ? 'Modifica Foto' : 'Crea Foto'}"></h1>
  <hr>
  <form
      th:with="actionUrl=${isEdit ? '/photos/edit/' + photo.id : '/photos/create'}"
      id="${isEdit ? 'photos-edit' : 'photos-create'}"
      method="POST"
      th:action="@{${actionUrl}}"
      th:object="${photo}"
      class="row gy-2"
  >
    <div class="col-6"
         th:insert="fragments/components :: formField('text', 'Titolo', 'title')">
    </div>

    <div class="col-6"
         th:insert="fragments/components :: formField('text', 'Url', 'url')">
    </div>

    <div class="col-6"
         th:insert="fragments/components :: formField('text', 'Visibile', 'visible')">
    </div>

    <div class="col-12">
      <label for="description" class="form-label">Descrizione</label>
      <textarea class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Salva</button>
      <a th:href="@{/photos}" class="btn btn-primary">Cancella</a>
    </div>
  </form>
</div>
</body>
</html>