<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Album')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('photos')"></nav>
<div class="container">
  <div th:replace="fragments/components :: message"></div>
  <div class="d-flex align-items-center justify-content-between">
    <h1>Album</h1>
    <form th:action="@{/photos}" method="GET">
      <div class="input-group">
        <input
            type="text"
            placeholder="Cerca tramite il titolo"
            class="form-control" name="search"
            th:value="${param.search}"
        >
        <button class="btn btn-primary" type="submit">Cerca</button>
      </div>

    </form>
  </div>
  <hr>
  <div class="my-3" sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/photos/create}" class="btn btn-primary">Aggiungi Foto</a>
  </div>

  <div class="row gap-3 d-flex justify-content-center text-center">
    <div class="col-lg-2 col-md-3 col-sm-6 mb-4" th:each="photo : ${photoList}" th:object="${photo}">
      <img th:src="*{url}" alt="photo" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title" th:text="*{title}"></h5>
        <p class="card-text" th:text="*{description}"></p>
        <a class="btn btn-primary" th:href="@{/photos/show/{id}(id=*{id})}">
          <i class="fa-solid fa-eye"></i>
        </a>
        <a
            class="btn btn-secondary"
            th:href="@{/photos/edit/{id}(id=*{id})}"
            title="edit"
            sec:authorize="hasAuthority('ADMIN')"
        >
          <i class="fa-solid fa-pen"></i>
        </a>
        <form
            class="d-inline-block"
            method="POST"
            th:action="@{/photos/delete/{id}(id=*{id})}"
            onsubmit="return confirm('Sei sicuro di eliminare la foto?')"
            sec:authorize="hasAuthority('ADMIN')"
        >
          <button type="submit" class="btn btn-danger">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>